<footer class="footer">
    <div class="container">
      <div class="row">

  
        <!-- Social Media Links -->
        <div class="col-md-4">
          <h5>Connect With Us</h5>
          <div class="social-icons">
            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      
      <hr />
  
      <div class="text-center">
        <p>&copy; 2025 DairyMilk Management. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  
